.search-input-wrapper {
    position: relative;
    width: 100%; 
  }
  .search-input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #323233;
    border-radius: 4px;
    background-color: var(--darkThree); 
    color: #f8f8f8; 
    font-size: 16px; 
    box-sizing: border-box; 
    
    &::placeholder {
      color: #a6a1a1;
    }
  }
  
  .search-icon {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px; 
    color: #f8f8f8; 
  }
  