.app {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 70px; /* Default width for larger screens */
    background-color: var(--darkTwo); /* Sidebar color */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.content-wrapper {
    margin-left: 70px; /* Same as sidebar width */
    width: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: var(--darkTwo); /* Header color */
    color: white;
    padding: 0.75rem; /* Default padding for header */
    position: fixed;
    top: 0;
    width: calc(100% - 70px);
    z-index: 1;
    height: 70px; /* Default height for header */
}

.routes-container {
    margin-top: 70px; /* Adjust for header height */
    overflow-y: auto;
    height: calc(100vh - 60px); /* Adjust for header height */
    padding: 1rem;
    background-color: var(--darkOne);
}

/* Responsive Adjustments */
@media (max-width: 589px) {
    .header {
        padding: 0.5rem;
        height: 120px;
    }
    .routes-container {
        margin-top: 120px;
        padding: 1rem 0.5rem;
    }
}
