.app{
  height: 100vh;
}
.app-wrapper{
  display: flex;
}
.header-content-wrapper{
  min-height: 100vh;
  background-color: var(--darkOne);
  width: 100%;
}
.header-wrapper{
  min-height: 80px;
  background-color: var(--darkTwo);
}
.sidebar-wrapper{
min-width: 80px;
background-color: var(--darkTwo);
}